---
export interface Props {
    title: string;
    image: string;
}
const { title, image } = Astro.props;
const nameTitle = title
---
 
<article class={`Card${nameTitle}`}>
    <img class={`CardLogo${nameTitle}`} src={image} alt="logo" />
    <p class={`CardTitle${nameTitle}`}>{title}</p>
</article>
 


<script define:vars={{nameTitle}}>

     
    const card = document.querySelector(`article.Card${nameTitle}`);
    const logo = document.querySelector(`img.CardLogo${nameTitle}`);
    const title = document.querySelector(`p.CardTitle${nameTitle}`);

    card?.addEventListener("mouseenter", function () {
        // Acciones a realizar cuando el cursor entra en el elemento (evento onHover)
        console.log("El cursor ha entrado en el elemento.");
        if (card){
            card.style.border = "3px dashed white"
        }
        if (logo){
            logo.style.filter = "blur(3px)";
            logo.style.width = "40%";
            logo.style.height = "40%";
        }
        if (title){
            title.style.display = "block"
        }
         
    });

    card?.addEventListener("mouseleave", function () {
        // Acciones a realizar cuando el cursor entra en el elemento (evento onHover)
        console.log("El cursor ha salido en el elemento.");
        if (card){
            card.style.border = "3px dashed rgba(245, 222, 179, 0)"
        }
        if (logo){
            logo.style.filter = "blur(0px)";
            logo.style.width = "90%";
            logo.style.height = "90%";

        }
        if (title){
            title.style.display = "none"
        }
         
    });
    console.log(card);
</script>

<style>
    article {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 110px;
        height: 110px;
        background-color: rgba(33, 148, 43, 0.582);
        border-radius: 20px;
        border: 3px solid rgba(245, 222, 179, 0);
    }
    img {
        width: 90%;
        height: 90%;
         
    }
     
    
    p { 
        font-size: 24px;
        display: none;
        color: aliceblue;
        text-align: center;
        position: relative;
        margin: 0;
         
    }
</style>
